body {
    background-color: white;
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*Para centrar la pagina web que me parece mas bonito
     text-align: center;
    */
}

table {
    border: 2px solid blue;
    color: black;
    /*Para centrar la pagina web que me parece mas bonito
    margin-left: auto;
    margin-right: auto;
    */
}

th {
    text-align: center;
    background-color: lightskyblue;
}

#cred{
    color: red;
}

#cgreen{
    color: green;
}

#cyellow{
    color: yellow;
}